.NavBarWrapper {
    padding-top: 10px;
    background-color: dodgerblue;
    box-shadow: 0px 0px 10px 0px;
    /* Make a nested grid for the nav bar */
    display: grid;
    grid-template-columns: 26% 26% 26% 22%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
}

.NavBarWrapper .topNavigationBar li :hover {
    background-color: white;
}

.topNavigationBar {
    padding: 10px;
    overflow: hidden;
    /* border: black 1px solid; */
    grid-row: 1;
    grid-column: 1/4;
}

.topNavigationBar .nav-item {
    float: left;
    height: 40px;
    /* height: 40px; change this to 100% later when you have a logo */
    width: 100px;
    display: block;
    color: white;
    text-align: center;
    /* border: white 1px solid; */
    padding: 1%;
    font-size: 20px;
    text-decoration: none;
}

.topNavigationBar .nav-item img {
    max-height: 100%;
    max-width: 100%;
}

.nav-item:hover{
    background-color: skyblue;
}

.topNavigationBar .icon {
    display: none;
    width: 35px;
    height: 4px;
}

@media screen and (max-width: 895px) {
    .topNavigationBar .nav-item:not(:first-child) {
        display: none;
    }
    .topNavigationBar .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 895px) {
    .topNavigationBar .responsive {
        position: relative;
    }
    .topNavigationBar .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNavigationBar .responsive .nav-item {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Position and sizing of burger button */

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: whitesmoke;
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
}

/* General sidebar styles */

.bm-menu {
    position: fixed;
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 50px 0px;
}

/* Individual item */

.bm-item {
    display: block;
    float: left;
    height: 40px;
    /* height: 40px; change this to 100% later when you have a logo */
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 5px 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 0.8em 0em;
    margin: 10px;
}

.bm-item:hover {
    box-shadow: 0px 1px 10px 0px;
}


/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}